@using BazarBD.Data.Entidades

<EditForm Model="cliente">
    <DataAnnotationsValidator/>

        <div class="form-group">
        <label>NombreCliente</label>
        <div>
            <InputText class="form-control" @bind-Value="@cliente.NombreCliente" />
            <ValidationMessage For="@(() => cliente.NombreCliente)" />
        </div>

    </div>  

        <div class="form-group">
        <label>Apellido</label>
        <div>
            <InputText class="form-control" @bind-Value="@cliente.ApellidoCliente" />
            <ValidationMessage For="@(() => cliente.ApellidoCliente)" />
        </div>

    </div>  

    


</EditForm>

<EditForm Model="facturas" OnValidSubmit="onValidSubmit">
    <DataAnnotationsValidator/>

    <div class="form-group">
        <label>Fecha</label>
        <div>
            <InputDate class="form-control" @bind-Value="@facturas.FechaVenta" />
            <ValidationMessage For="@(() => facturas.FechaVenta)" />
        </div>

    </div>  
    <br/>

    <button class="btn btn-primary" type="submit">Aceptar</button>
    <button class="btn btn-secondary" @onclick="onCancel">Cancelar</button>    

</EditForm>

@code {

    //public Factura factura = new Factura();
    [Parameter] public Cliente cliente { get; set; }
    [Parameter] public Factura facturas { get; set; }

    [Parameter] public EventCallback onValidSubmit { get; set; }
    [Parameter] public EventCallback onCancel { get; set; }
}
